* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card {
  width: 300px;
  height: 300px;
  border: 1.5px solid rgb(255, 255, 69);
  margin: 0 auto;
}
